table {white-space: nowrap;padding: 5px; margin-left:0px}
.myTable td {padding: 5px}
.myTable tbody tr:nth-child(odd){background-color: #ADD8E6; padding: 3px}
.myTable col:nth-child(even) {background:#ffffe0; padding: 4px}
.myTable {margin-left:0px}
h4 {
    color: darkgreen;
}
hr {
    border: 2px solid gray;
    margin: 0px !important;
}
.main-container {
    max-width: 100% !important;
    margin-left: 10px !important;
    margin-right: auto !important;
}
body {
    max-width: 100% !important;
}
.tab-content {
    max-width: 100% !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}
.tab-pane {
    max-width: 100% !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}
h1 {
    font-size: 34px;
    color: black !important;
    margin: 5px !important;
}
h2 {
    font-size: 24px !important;
}
