<style type="text/css">
#wrapper {
    width: 600px;
    float:right;
}
#second {
    float:right; /* add this */
    overflow: auto;
    padding: 1em;
}

h1.title {
    color: white;
    background-image: linear-gradient(to right, indigo, indigo, indigo, white, white);
    border-radius: 18px;
    padding: 5px;
    border-spacing: 5px;
}

p.ncgnote::after {
    color:#000000;
    font-size:16px;
    content:'*NCG* is: Enrichment analysis based on the Network of Cancer Genes database (http://ncg.kcl.ac.uk/)</br>*KEGG* is: Kyoto Encyclopedia of Genes and Genomes, a database resource for understanding high-level functions and utilities of the biological system from molecular-level information (https://www.genome.jp/kegg/)</br>'
}

</style>
