#wrapper {
    width: 600px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px
}

#second {
    float: right;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

h1.title {
    color: white;
    background-image: linear-gradient(to right, indigo, indigo, indigo, white, white);
    border-radius: 18px;
    padding: 5px;
    border-spacing: 5px;
}


h3 {
    color: indigo;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

hr.dotted {
    border-top: 3px dotted #bbb;
}

hr.solid {
    border-top: 3px solid #bbb;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

div.main-container, .main-container, div.container-fluid {
    max-width: 96% !important;
    margin-left: 25px;
    padding: 20px;
}

ul.no-bullets {
    list-style-type: none;
}

p.methtab {
    font-size: 14px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    padding: 15px;
    border-spacing: 10px;
    background:#D6ECF3;
}

h2.saminfo {
    border: 4px solid burlywood;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

div.blanched {
    background-image: linear-gradient(180deg, BlanchedAlmond, white);
    font-size: 16px
}
